* {
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  body {
    width: 100%;
  }
}

.container {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.card-action {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hide {
  display: none;
}