.title {
  margin: 10px 0 10px 0;
  border: 2px solid red;
}

.row1 {
  display: grid;
  padding: 10px 0 10px 0;
  border: 2px solid blue;
}

.column1 {
  height: 450px;
  border: 2px solid purple;
}

.card1 {
  border: 2px solid green;
}

#pokemonImg {
  border: 2px solid orange;
}

#pokemonCard {
  padding: 5px 0 5px 0;
}

#pokemon {
  padding: 1% 0 0 1%;
}

#cardContent {
  margin: 5px 0 10px 0;
  padding-bottom: 10px;
  border: 2px solid brown;
}

.actionbtns-container {
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
  gap: 30px 10px;
  border: 2px solid rosybrown;
}

.startbtn-container {
  border: 2px solid hotpink;
}

.column2 {
  height: 450px;
  border: 2px solid chocolate;
}

/* h2 {
  font-weight: bold;
} */