body {
  font-family: 'Press Start 2P', cursive;
}

.nav-wrapper {
  background: linear-gradient(90deg, #ff1654 35%, #247ba0 60%);
  padding: 0 2% 2% 2%;
}

.title {
  display: flex;
  border-radius: 2px;
  background: white;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black,
    inset 0 3px 0 3px black,
    0 0 0 3px black,
    inset 0 0 0 3px black;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Press Start 2P', cursive;
}

#ball {
  width: 100%;
}

.modal {
  width: 70%;
}

.music {
  background: #0077b6;
}

.red {
  background-color: #ff0000;
}

.yellow {
  background-color: #fecb65;
}

.green {
  background-color: #32cb65;
}

.blue {
  background-color: #3298cb;
}

.light-blue {
  background-color: #85bdfe;
}

.light-red {
  background-color: #fe98cb;
}

.light-yellow {
  background-color: #fefecb;
}

.light-green {
  background-color: #98fe00;
}

.page-footer {
  background: linear-gradient(90deg, #ff1654 35%, #247ba0 60%);
  text-align: center;
  padding-bottom: 10px;
}

.gridWrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding-bottom: 50px;
  background-image: url('../images/59.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#cardContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin-left: 25px !important;
  border-radius: 2px;
  padding: 0 10px 0 10px;
  line-height: 16px;
  background: white;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black,
    inset 0 3px 0 3px black,
    0 0 0 3px black,
    inset 0 0 0 3px black;
  margin-top: 25px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

#pokemonCard {
  display: flex;
  border-radius: 2px;
  background: white;
  border: 3px solid white;
  box-shadow: 0 3px 0 3px black,
    inset 0 3px 0 3px black,
    0 0 0 3px black,
    inset 0 0 0 3px black;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Press Start 2P', cursive;
}

.actionbtns-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100px;
  margin-top: 25px;
  /* margin-bottom: 25px; */
}

/* @media only screen and (max-width: 600px) {
  #pokedex {
    width: 100%;
    flex-flow: wrap;
  }

  #left-panel {
    width: 100%;
  }

  #right-panel {
    width: 100%;
  }

  h2 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
  }

  * {
    box-sizing: border-box;
  }
} */

/* @media screen and (max-width: 800px) {
  body {
    width: 100%;
  }
} */

h3 {
  text-align: center;
  background-color: #03045e;
  color: white;
  padding: 10px 0 10px 0;
}

.hide {
  display: none;
}