:root {
  --main-bg-color: #fe0065;
  --secondary-bg-color: #f2f2f2;
  --main-screen-bg-color: #98cb98;
  --secondary-screen-bg-color: #9e9d9d;
  --main-buttons-color: #585858;
  --square-buttons-color: #7ca9f7;
}

.nav-wrapper {
  background: #70c0a0;
  padding: 0 2% 2% 2%;
}

.modal {
  width: 70%;
}

.red {
  background-color: #ff0000;
}

.yellow {
  background-color: #fecb65;
}

.green {
  background-color: #32cb65;
}

.blue {
  background-color: #3298cb;
}

.light-blue {
  background-color: #85bdfe;
}

.light-red {
  background-color: #fe98cb;
}

.light-yellow {
  background-color: #fefecb;
}

.light-green {
  background-color: #98fe00;
}

.page-footer {
  background-color: #70c0a0;
  text-align: center;
  padding-bottom: 10px;
}

.title {
  grid-area: title;
  margin: 10px 0 10px 0;
  /* border: 2px solid red; */


}

#pokemonCard {
  padding:10px;
  border: 1.5px solid white;
  box-shadow: 0 1.5px 0 1.5px black,
    inset 0 1.5px 0 1.5px black,
    0 0 0 1.5px black,
    inset 0 0 0 1.5px black;
}

#cardContent {
  /* grid-area: pokeStats; */
  margin: 25px 0 25px 0;
  padding-bottom: 10px;
  /* border: 2px solid brown; */
  border: 1.5px solid white;
  box-shadow: 0 1.5px 0 1.5px black,
    inset 0 1.5px 0 1.5px black,
    0 0 0 1.5px black,
    inset 0 0 0 1.5px black;
}



.hide {
  display: none;
}


/* #cardContent {
  margin-top: 100px;
} */

.actionbtns-container {
  padding-bottom: 50px;
}

/* h2 {
  font-weight: bold;
} */



h3 {
  text-align: center;
  background-color: #70c0a0;
  color: white;
}